[Unit]
Description=Process SQS Messages
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/python3 /home/ec2-user/process_messages.py
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target